
.Registr-page{
    width:400px;
    margin: 0 auto;
}
.login-page {
    width:400px;
    margin: 0 auto;
}

input {
    height: 41px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.input-box{
    display:flex;
    flex-direction: column;
}

button{
    height:41px;
}


.oauth-container{
    display: flex;
    flex-direction: column;
    margin-bottom:50px;

    
}

.oauth-container button {
    margin-bottom:10px;
    border: none;
    height: 41px;
    border-radius: 5px;
    color:white;
    cursor: pointer;
     /* box-shadow: 0px 1px 5px -1px black; */
}

#gplus-btn{
    background-color: #ff0000a8;
}
#fb-btn{
    background-color: #2020bcb3;
    width: 401px;
}

.kep-login-facebook.metro {
    border-radius:6px;
    width: 400px;
}