.search{
    /* background-color: aqua; */
    width: 100%;
    height: auto;
}

#year{
    position: relative;
    margin: 2px 10px;
}
 
.select-box{
    background-color: rgb(255, 255, 255);
    width: 112px;
    height: 25px;
    border-radius: 7px;
}

.select-box option{
   font-weight: bold;
}
    

#clearButton{
    height: 30px;
    position: relative;
    margin-left: 15px;
    border-radius: 11px;
    margin-top: 9px;
}