body{
  background-color: whitesmoke;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
 height:57px;
 border-bottom:2px solid #ccc;
 display: flex;

}

 
.userExist{
  position: relative;
  width: auto;
  height: auto;
  background-color: wheat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#user-profie-container{
   
  flex:1;
  display: flex;
  
}
#profile-img-container{
  display: flex;
    flex-direction: column;
    font-size: 12px;
    color: blue;

}

#user-profie-container img {
  border-radius: 21px;
  height: 40px;
  margin: 0px 10px 0px 10px;
}

#logout-btn {
  color: blue;
  cursor: pointer;
}
 