
.header{
    height:50px;
    background-color: black;
    color: white;
     display: flex;
}

.links-continer{
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .links-continer a:hover{
    color:white;
    font-weight: 600;
    transition: 0.1s;
  }

  #user-profie-container{
    flex: 1;
    display: flex;
  }


  #logout-btn {
    color: #c1c1e0;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    bottom: -25px;
    text-decoration: underline;
  }